@import '../../styles//theme.scss';

nav{
   background-color: $bg-black;
   display: grid;
   grid-template-columns: 50% 50%;


   li{
       color: $text-white;
       display: inline;
       padding: 15px;
       border-right: 1px solid $text-white;
   }
   a{
       color: $text-white;
       text-decoration: none;
   }
   ul{
       list-style-type: none;
       position: relative;
       top: 30%;
   }
   li a:hover{
       color: $bg-red;
   }

   img{
       position: relative;
       left: 10%;
   }
}
